
<main class="mx-auto  flex min-h-screen w-full items-center justify-center bg-neutral text-white">
    <img class="img shadow-x1" src="../../assets/oil bottle.png" alt="Backimage">
    <div class="w1 items-center justify-center">
       <p class=" shadow-xl">
         Welcome
        </p>
        <h1 class="h1">
            tsa felo is a store with an online  service <br>
            based in Johannesburg Braamfontein <br>
            We also Deliver around  Braamfontein

        </h1>
        
    </div>


    
    <div class="btn ">
        <button routerLink="/"
        routerLinkActive="activebutton"  class="btn text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Let's Fly</button>
    </div> 
    <br>
     <a routerLink="/login"
     href="#" class="l1 transform text-center font-semibold text-gray-500 duration-300 hover:text-gray-300"> Already have an account?</a>
            
</main>

