.img{
    padding-bottom: 25rem;
    background-repeat: no-repeat;
    width: 100%;
    
}

.btn{
   position: absolute;
   bottom: 4rem;
}

.w1{
    position: absolute;
    padding-top: 12rem;
    padding-right: 12rem;
    font-size: xx-large;
}

p::first-letter {
    color: #5fc054;
    font-size: 150%;
  }

.l1{
    position: absolute;
    padding-top: 44rem;
    font-size: small; 
}

.h1{
    position:  absolute;
    font-size: small;
}