
<main
  class="mx-auto flex min-h-screen w-full items-center justify-center bg-neutral text-white">
   <form [formGroup]="registerForm"  class="flex w-[20rem] flex-col space-y-10">
    <div class="text-center text-4xl font-medium">Register</div>

      <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
      <input formControlName="firstname" type="text" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
        type="text"
        placeholder="Firstname"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
        <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
            <div *ngIf="f['firstname'].errors['required']" class="bg-error">Firstname is required</div>
       </div>
    </div>

    <div
    class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
    <input formControlName="lastname" type="text" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"
      type="text"
      placeholder="Lastname"
      class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
      <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
        <div *ngIf="f['lastname'].errors['required']" class="bg-error">lastname is required</div>
   </div>

  </div>

  <div
  class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
  <input formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
    type="text"
    placeholder="Email"
    class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']" class="bg-error">Email is required</div>
   </div>
</div>

<div
class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
<input formControlName="location" type="location" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }"
  type="text"
  placeholder="Location"
  class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
  <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
    <div *ngIf="f['location'].errors['required']" class="bg-error">Location is required</div>
</div>


</div>

    <div
      class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
      <input formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        type="password"
        placeholder="Password"
        class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none"/>
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']"class="bg-error">Password is required</div>
       </div>
    </div>

    <button
    (click)="adduser()"
      class="transform rounded-sm bg-green-500 py-2 font-bold duration-300 hover:bg-indigo-400">
      LOG IN
    </button>
</form>
</main>